.banner {
    height: 400px;
    padding: 64px 0;
    margin-bottom: 32px;
    background-image: linear-gradient(to bottom, rgba(15, 5, 107, 0.52), rgba(0, 0, 0, 0.73)), url(img/bg-surfing-2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

